@model AirLine.Models.AirCraft

@{
    ViewData["Title"] = "Details";
}

<h1>Details AirCraft</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major_Poilot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major_Poilot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assistant_Pilot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assistant_Pilot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVisable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVisable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
